# https://docs.python.org/3/distutils/sourcedist.html#manifest
include README.rst CHANGES.txt LICENSE
recursive-include requirements *.txt
recursive-include {{ cookiecutter.project_name }}
exclude requirements/test.txt
prune tests
